{:deps {io.github.inferenceql/gen.clj {:git/sha "b15009d7cda4214145e61fd6a6eaae5825f70a5b"}
        io.github.inferenceql/inferenceql.query {:git/sha "775698d76b649e55c384021020c4418e67b0649f"}
        io.github.nextjournal/clerk {:mvn/version "0.13.842"}}}
